  body{
    width: 100%;
    height:100vh;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color:azure;
  }

  .Player{
    margin-top:2rem;
  }

  #container{
    position: relative;
    max-width: 300px;
    margin:0 auto;
  }

  #scroller {
    position: relative;
    overflow: scroll;
    white-space: nowrap;
    width: 300px;
    z-index: 1;
    border:2px solid rgb(144, 140, 140);
    border-radius: 20px;
  }
  
  #output {
    padding: 1rem 0;
  }

  #anchor{
    position: absolute;
    height:80px;
    width: 5px;
    left:50%;
    top:-10px;
    z-index: 99;
    pointer-events: none;
    background-color: azure;
  }
  
/* Reference:
https://stackoverflow.com/questions/50837011/make-scrollbar-track-transparent
*/
  #scroller::-webkit-scrollbar {
    background: transparent;
    height: 0px;
  }
  #scroller::-webkit-scrollbar-thumb {
    background: transparent;
    height: 0px;
  }
  
.blocks{
    display: flex;
    padding:0;
}


.block-start, .block-end, .block {
  /* background-color: rgb(83, 83, 83);; */
  cursor: pointer;
  display: block;
  height: 50px;
  padding:0;
}

.block{
  background-color: blue;
  width:8px;
  min-width:8px;
  border-right:2px solid black;
}

.block-start{
  position: relative;
  overflow: hidden;
  z-index: 2;
    min-width:148px;
    border-right:2px solid black;
  } 

  .block-end{
    min-width:130px;
    border-right:4px solid black;
  } 


  /* Animeation for swipe */
  #arrowAnim {
    /* width: 100vw;
    height: 100vh; */
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    /* width: 5vw;
    height: 5vw; */
    width: 10px;
    height: 10px;
    border: 10px solid;
    border-color: white transparent transparent white;
    transform: rotate(-45deg);
  }
  
  
  .arrowSliding {
    top:0.5rem;
    position: absolute;
    -webkit-animation: slide 5s linear infinite; 
            animation: slide 5s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }  
     20% { opacity:1; transform: translateX(9vw); } 
     80% { opacity:1; transform: translateX(-9vw); }  
    100% { opacity:0; transform: translateX(-15vw); } 
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }  
     20% { opacity:1; transform: translateX(9vw); } 
     80% { opacity:1; transform: translateX(-9vw); }  
    100% { opacity:0; transform: translateX(-15vw); } 
  }