  body{
    width: 100%;
    height:100vh;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color:azure;
  }

  .Player{
    margin-top:2rem;
  }

  #container{
    position: relative;
    max-width: 300px;
    margin:0 auto;
  }

  #scroller {
    position: relative;
    overflow: scroll;
    white-space: nowrap;
    width: 300px;
    z-index: 1;
    border:2px solid rgb(144, 140, 140);
    border-radius: 20px;
  }
  
  #output {
    padding: 1rem 0;
  }

  #anchor{
    position: absolute;
    height:80px;
    width: 5px;
    left:50%;
    top:-10px;
    z-index: 99;
    pointer-events: none;
    background-color: azure;
  }
  

  #scroller::-webkit-scrollbar {
    background: transparent;
    height: 0px;
  }
  #scroller::-webkit-scrollbar-thumb {
    background: transparent;
    height: 0px;
  }
  
.blocks{
    display: flex;
    padding:0;
}


.block-start, .block-end, .block {
  /* background-color: rgb(83, 83, 83);; */
  cursor: pointer;
  display: block;
  height: 50px;
  padding:0;
}

.block{
  background-color: blue;
  width:8px;
  min-width:8px;
  border-right:2px solid black;
}

.block-start{
    min-width:148px;
    border-right:2px solid black;
  } 

  .block-end{
    min-width:130px;
    border-right:4px solid black;
  } 
